@media (max-width:950px){

    .heroContainer{

        grid-template-columns:1fr;

        text-align:center;

    }

    .heroButtons{

        justify-content:center;

    }

    .heroVisual{

        height:420px;

        margin-top:50px;

    }

    .heroContent h1{

        font-size:3rem;

    }

}

@media (max-width: 1024px){
    .servicesGrid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px){
    .servicesGrid{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 900px){
    .portfolioGrid{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 900px){
    .contactContainer{
        grid-template-columns: 1fr;
    }
}

@media (max-width:900px){

    .footerContainer{
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

}

@media (max-width:500px){

    .footerContainer{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .socialIcons{
        justify-content: center;
    }

}

@keyframes fadeUp{
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 900px){

    .heroContainer{
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .heroButtons{
        justify-content: center;
    }

    .heroVisual{
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .bigCard,
    .smallCard{
        position: relative;
        top: 0;
        right: 0;
        margin: 10px auto;
    }
}